# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Project specific
dist/
node_modules/
.ipynb_checkpoints/
bower_components/
__pycache__/
*.egg-info/
etc/notebooks/*
!etc/notebooks/*_demo
!etc/notebooks/test/
!etc/notebooks/*_demo/*
!etc/notebooks/*_tutorial
!etc/notebooks/index.ipynb
!etc/notebooks/images/
etc/notebooks/*_demo/.dashboard_cache
etc/notebooks/*_demo/.ipynb_checkpoints
etc/jupyter_notebook_config.py
etc/ipython_notebook_config.py
etc/notebook.json
